<div class="card">
  <h3>Current Fact</h3>
  <ng-container *ngIf="!isLoading; else loading">
    <p>{{currentFact}}</p>
  </ng-container>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  <form [formGroup]="maxLengthGroup" (ngSubmit)="refreshCatFact()">
    <button type="submit" [disabled]="maxLengthGroup.invalid">Refresh</button>
    <!--<button type="button" [disabled]="isLoading" (click)="saveFact()">Save</button>-->
  </form>
</div>
<!--<div class="card">
  <h3>Saved Facts</h3>
  <ng-container *ngFor="let savedFact of savedFacts">
    <p>{{savedFact.fact}}</p>
  </ng-container>
</div>-->
